@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = Localizer["Forgot password confirmation"];
}

<h2>@ViewData["Title"]</h2>
<p>
@(!string.IsNullOrWhiteSpace(Model.StatusMessage) ? Model.StatusMessage : Localizer["Please check your email to reset your password."].Value)
</p>

